.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #F6BF0C;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
