.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 60px 50px;
    width: 615px;
    background-color: #fff;
    border-radius: 20px;
}

.note {
    color: #686763;
    text-align: center;
    width: 70%;
    margin-bottom: 30px;
    line-height: 1.5;
}

.hint {
    margin: 25px 0;
}

.addButton {
    padding: 10.5px 10px;
    border-radius: 20px;
    background-color: #F6BF0C;
    color: #fff;
    border: none;
    cursor: pointer;
    justify-self: start;
    position: relative;
    width: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 24px;
    transition: background-color 0.2s ease-in-out;
}

.addButton:hover {
    background-color: #e5b411;
}

.plus {
    font-size: 24px;
}

.address {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    column-gap: 28px;
    margin-bottom: 20px;
}

.searchOptions {
    position: absolute;
    bottom: -300px;
    left: 0;
    background-color: #fff;
    overflow: auto;
    max-height: 300px;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    z-index: 100000;
}

.searchOptions__item {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding: 15px;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.searchOptions__item p:last-child {
    color: #F6BF0C;
}

.searchOptions__item:hover {
    cursor: pointer;
    background-color: #cccccc;
}

.label {
    flex: 0.6;
}

.input {
    padding: 12px 13px;
    background-color: #F8F8F9;
    border-radius: 15px;
    border: none;
    flex: 3;
}

.map {
    width: 100%;
    height: 500px;
    margin-bottom: 15px;
}

.input::placeholder {
    color: #C0C0C0;
}

.searchButton {
    padding: 16px 43px;
    background-color: #F6BF0C;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 20px;
}

.searchButton:disabled {
    background-color: #686763;
}

.button {
    padding: 16px 43px;
    background-color: #F6BF0C;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #e5b411;
}

.button:disabled {
    background-color: #686763;
}
