.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 80px 60px 50px;
    width: 615px;
    background-color: #fff;
    border-radius: 20px;
}

.heading {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.select {
    padding: 12px 13px;
    background-color: #F8F8F9;
    border-radius: 15px;
    border: none;
    width: 80%;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdownList {
    position: absolute;
    top: 50px;
    left: 0;
    width: 90%;
    padding: 12px 22px;
    border-radius: 15px;
    background-color: #F8F8F9;
    box-shadow: 1px 5px 19px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.listItem {
    display: flex;
    justify-content: space-between;
}

.listItem:not(:last-child) {
    margin-bottom: 20px;
}

.button {
    padding: 16px 43px;
    background-color: #F6BF0C;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #e5b411;
}

.button:disabled {
    background-color: #686763;
}
