.blocks {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 60px 50px;
    width: 615px;
    background-color: #fff;
    border-radius: 20px;
}

.total {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
    font-size: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.delivery,
.totalPrice {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.totalPrice {
    margin-bottom: 40px;
}

.item:not(:last-child) {
    margin-bottom: 15px;
}

.button {
    padding: 16px 43px;
    background-color: #F6BF0C;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #e5b411;
}
