.wrap { 
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
}

.content {
    padding: 50px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    font-size: 22px;
    font-weight: 700;
    color: #dc0000;
}

.closeButton {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
